<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeting Scheduled email.</title>
</head>

<body>
  <h2>Hello, </h2>
  {{!-- <p>Your meeting has been scheduled with {{company}}.</p> --}}

  <p>Details:</p>
  <ul>
    <li>Event Name: {{eventName}}</li>
    {{!-- <li>Event Description: {{eventDecription}}</li> --}}
    {{!-- <li>Event Date: {{eventDate}}</li> --}}
    <li>Event Start Time: {{eventStartTime}}</li>
    <li>Event End Time: {{eventEndTime}}</li>
    <li>Meeting Link: {{meetingLink}}</li>
    {{!-- <div *ngIf="questionsWdAnswers.length">
      <div *ngFor="let question of questionsWdAnswers; let i=index">
        <ul>
          <li *ngIf="question.answer">
            <p>{{question}}</p>
            <p>{{question.answer}}</p>
          </li>
        </ul>
      </div>
    </div> --}}
    {{#if additionalInfo}}
    <div>
      <span>Note : </span>
      <span>{{additionalInfo}} </span>
    </div>
    {{/if}}
    <div>
      {{#each questionsWdAnswers}}
        {{#if this.answer}}
        <li>
          <span>{{this.question}}</span> :
          <span>{{this.answer}}</span>
        </li>
        {{/if}}
      {{/each}}
    </div>
  </ul>

  <a href=`http://localhost:3000/calendarLink/redirectToCancellation?whoCanceled={{receiversEmail}}&whoseCalendar={{emailOfCalendarOwner}}&eventId={{evId}}&meetId={{meetId}}`>Cancel</a>

  {{!-- <a>Reschedule</a> --}}
</body>

</html>