<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Someone VOted for poll.</title>
</head>
<body>
  <h2>Hello,  </h2>
  <div>
    <span>{{whoHasVotedNow}}</span> <span>has shared their preferred meeting times.</span>
  </div>

  {{!-- <p>{{totalNumOfPeopleVoted}} invitees have shared their preferences from the meeting times you offered.</p>
  <p>TOP TIMES:</p>
    <ul>
        <li>{{topTimes}}</li>
        <li>{{noOfVotesForTopTimes}}</li>        
    </ul> --}}
{{!-- <button>Book meeting time</button> --}}
<div>
  <span>Meeting name: </span><span>{{evName}}</span>
</div>

</body>
</html>

