<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meeting Scheduled email.</title>
</head>

<body>

  <div style="display: flex; border:1px solid rgb(189, 187, 187); font-size:15px">
    <div style="border-right:1px solid rgb(189, 187, 187); background-color: #f6f6f5; width : 20%">
      <div
        style="width:40%;height:fit-content; margin: auto; border-radius: 5px; border:1px solid rgb(189, 187, 187); text-align:center; margin-top:5%">
        <p style="margin: 0px; padding: 2px; background-color: #468afb; color: white; font-weight:bold">{{monthString}}
        </p>
        <p style="margin: 0px; padding: 2px; font-size: 20px; font-weight: bold;">{{dayOfMonth}}</p>
        <p style="margin: 0px; padding: 2px; font-weight: bold; border-top:1px solid rgb(189, 187, 187)">
          {{dayOfWeekString}}</p>
      </div>
    </div>
    <div style="padding-left: 10px;">
      <div>
        {{#unless meetingIsFromVotingPage}}
        <p style="font-weight: bold;">{{name}} and {{calendarOwnerUserName}}</p>
        {{else}}
        <p style="font-weight: bold;">{{eventName}}</p>
        {{/unless}}
      </div>
      <div>
        <p>
          <span style="color: grey;">When &#32;</span><span>{{dayOfWeekString}} {{monthString}} {{dayOfMonth}}, {{year}}
            {{startTime}} - {{endTime}}</span>
        </p>
        <p>
          <span style="color: grey">Who &#32;</span><span style="color: grey;">{{emailOfCalendarOwner}}</span><span>,
            {{calendarOwnerUserName}}</span>
        </p>
      </div>
    </div>
  </div>

  <div style="border:1px solid rgb(189, 187, 187); padding:10px; border-radius: 10px; margin-top: 30px; font-size:15px">
    <p>Event Name: {{eventName}}</p>
    <a href={{meetingLink}}>Meeting link</a>
    {{#unless meetingIsFromVotingPage}} 
    {{!-- i.e if meet is not from voting page --}}
    <div>
      {{#each questionsWdAnswers}}
      {{#if this.answer}}
      <p>
        <span>{{this.question}}</span> :
        <span>{{this.answer}}</span>
      </p>
      {{/if}}
      {{/each}}
    </div>
    {{/unless}}

    {{!-- {{#if !meetingIsFromVotingPage}}
    <p>Need to make changes to this event?</p>
    <span>Cancel: &#32;</span><a
      href="http://localhost:3000/calendarLink/redirectToCancellation?whoCanceled={{receiversEmail}}&amp;whoseCalendar={{emailOfCalendarOwner}}&amp;eventId={{evId}}&amp;meetId={{meetId}}">Cancel</a>
    {{else}}
    <p>If you need to make changes to this event, contact your event organizer</p>
    {{/if}} --}}

    {{!-- ==================================================== --}}
    {{#unless meetingIsFromVotingPage}}
    <p>Need to make changes to this event?</p>
    <span>Cancel: &#32;</span><a
      href="http://localhost:3000/calendarLink/redirectToCancellation?whoCanceled={{receiversEmail}}&amp;whoseCalendar={{emailOfCalendarOwner}}&amp;eventId={{evId}}&amp;meetId={{meetId}}">Cancel</a>
    {{else}}
    <p>If you need to make changes to this event, contact your event organizer</p>
    {{/unless}}

    {{!-- ==================================================== --}}

    <p>Powered by Clodura.AI</p>

    <p style="font-weight: bold">When</p>
    <p>{{dayOfWeekString}} {{monthString}} {{dayOfMonth}}, {{year}} {{startTime}}-{{endTime}}</p>

    <p style="font-weight: bold;">Guests</p>
    <p>{{calendarOwnerUserName}} - organizer</p>
    {{#each otherEmails}}
    <p>{{this}}</p>
    {{/each}}
  </div>
</body>

</html>




{{!--
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeting Scheduled email.</title>
</head>

<body>
  <h2>Hello, </h2>
  <p>You have been invited to a meet with {{company}}.</p>

  <p>Details:</p>
  <ul>
    <li>Event Name: {{eventName}}</li>
    <li>Event Start Time: {{eventStartTime}}</li>
    <li>Event End Time: {{eventEndTime}}</li>
    <li>Meeting Link: {{meetingLink}}</li>
    {{#if additionalInfo}}
    <div>
      <span>Note : </span>
      <span>{{additionalInfo}} </span>
    </div>
    {{/if}}
    <div>
      {{#each questionsWdAnswers}}
      {{#if this.answer}}
      <li>
        <span>{{this.question}}</span> :
        <span>{{this.answer}}</span>
      </li>
      {{/if}}
      {{/each}}
    </div>


  </ul>

  <a
    href=`http://localhost:3000/calendarLink/redirectToCancellation?whoCanceled={{receiversEmail}}&whoseCalendar={{emailOfCalendarOwner}}&eventId={{evId}}&meetId={{meetId}}`>Cancel</a>


</body>

</html> --}}
{{!-- <a>Reschedule</a> --}}
{{!-- <a
  href=`http://localhost:3000/calendarLink/redirectToRescheduling?whoRescheduled={{receiversEmail}}&whoseCalendar={{emailOfCalendarOwner}}&eventId={{evId}}&meetId={{meetId}}`>Reschedule</a>
--}}