{{!--
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Meeting Scheduled email.</title>
</head>

<body>
  <h2>Hello, </h2>

  <p>Details:</p>
  <ul>
    <li>Event Name: {{eventName}}</li>
    <li>Event Start Time: {{eventStartTime}}</li>
    <li>Event End Time: {{eventEndTime}}</li>
    <li>Meeting Link: {{meetingLink}}</li>
    {{#if additionalInfo}}
    <div>
      <span>Note : </span>
      <span>{{additionalInfo}} </span>
    </div>
    {{/if}}
    <div>
      {{#each questionsWdAnswers}}
      {{#if this.answer}}
      <li>
        <span>{{this.question}}</span> :
        <span>{{this.answer}}</span>
      </li>
      {{/if}}
      {{/each}}
    </div>
  </ul>

  <a
    href=`http://localhost:3000/calendarLink/redirectToCancellation?whoCanceled={{receiversEmail}}&whoseCalendar={{emailOfCalendarOwner}}&eventId={{evId}}&meetId={{meetId}}`>Cancel</a>


</body>

</html> --}}

{{!-- to cal owner --}}


{{!-- Calendly logo i.e clodura logo --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  {{!-- <div style="border:1px solid rgb(189, 187, 187);border-radius:10px; padding:10px"> --}}
    <div style="width:60%; margin:auto; font-size: 15px;">

      <p>Hi {{calendarOwnerUserName}},</p>

      <p>A new event has been scheduled.</p>

      <div>
        <span style="font-weight:bold">Event Type:&#32;</span>
        <span>{{eventName}}</span>
      </div>

      {{#unless meetingIsFromVotingPage}}
      <div>
        <span style="font-weight:bold">Invitee:&#32;</span>
        <span>{{name}}</span>
      </div>
      {{/unless}}


      {{#unless meetingIsFromVotingPage}}
      <div>
        <span style="font-weight:bold">Invitee Email:&#32;</span>
        <span>{{userWhoScheduledEmail}}</span>
      </div>
      {{/unless}}


      {{#unless meetingIsFromVotingPage}}
      <p style="font-weight:bold">Additional Guests:</p>
      {{else}}
      <p>Invitee(s):</p>
      {{/unless}}

      {{#each otherEmails}}
      {{!-- {{#if this!=userWhoScheduledEmail}}
      <p>{{this}}</p>
      {{/if}} --}}
      {{!-- {{#unless this userWhoScheduledEmail}} --}}
      <p>{{this}}</p>
      {{!-- {{/unless}} --}}
      {{/each}}

      <div>
        <span style="font-weight:bold">Event Date/Time:&#32;</span>
        <span>{{startTime}} - {{dayOfWeekString}}, {{dayOfMonth}} {{monthString}} {{year}} (India Standard Time)</span>
      </div>

      <div>

        <span style="font-weight:bold">Invitee Time Zone:</span>
        <span>India Standard Time</span>
      </div>

    {{#unless meetingIsFromVotingPage}}
      <div>
        {{!-- {{#if questionsWdAnswers.length}} --}}
        {{!-- <p>Questions:</p> --}}
        {{#each questionsWdAnswers}}
        {{#if this.answer}}
        <p>
          <span>{{this.question}}</span> :
          <span>{{this.answer}}</span>
        </p>
        {{/if}}
        {{/each}}
        {{!-- {{/if}} --}}
      </div>
      {{/unless}}

      <a href={{meetingLink}}>Meeting link</a>
    </div>


</body>

</html>